@tailwind base;
@tailwind components;
@tailwind utilities;

@font-Romelio {
  font-family: "Romelio";
  src: url("/fonts/Romelio.otf") format("opentype");
  font-weight: 300; /* Changed to a lighter weight */
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Light.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("/fonts/Raleway-Bold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Romelio";
  src: url("/fonts/Romelio.otf") format("opentype");
  font-style: normal;
}

/* styles.css or hero.css */
.hero-content {
  align-items: center;
  color: #ffffff; /* Ensure text color is white */
  font-family: 'Romelio', sans-serif;
  letter-spacing: 8px;
  margin-top: 8%;
  font-size: 31px;
  font-weight: lighter;
  transform: scaleY(1.4);
  text-align: center;
}

/* Utility Classes */
.romelio-font {
  font-family: "Romelio", sans-serif;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
}

.raleway {
  font-family: "Raleway", sans-serif;
}

h1, h2, h3, h4, h5, h6 , p {
  font-family: "Romelio", sans-serif;
}

.accent-text {
  font-family: var(--font-accent), sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.object-cover {
  object-fit: cover;
}

.bg-black\/50 {
  background-color: rgba(0, 0, 0, 0.5);
}

.transition-colors {
  transition-property: color, background-color, border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.marque {
  position: relative;
  height: 100vh;
  background-color: #003851;
}

.marque::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/A-logo.png');
  background-size: 3100px; /* Adjust for zoom effect */
  background-position: center 42%;
  background-repeat: no-repeat;
  opacity:0.03; /* Adjust opacity to control transparency */
  z-index: 0; /* Ensure it's behind the content */
}

/* Add this to ensure content appears above the background */
.marque > * {
  position: relative;
  z-index: 1;
}
.marque::after {
  background-image: var(--bg-image-url);
  /* other properties remain the same */
}